@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:ital,wght@1,100;1,300&display=swap");
@import "./components/variables";
@import "./components/_header";
@import "./components/_banner";
@import "./components/_courses";
@import "./components/_othercourse";
@import "./components/_whyhapolearn";

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-padding-top: 60px;
}
