.list-course {
  margin-top: -7%;
}

.card {
    border-radius: 15px;

    .bg-img {
        border-radius: 15px 15px 0px 0px;
    }
}

.font-size-title {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  color: #b2d235;
}

.font-size-text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #505353;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn-course {
  border-radius: 22px;
  color: white;
  background-color: $color-title-course-green;

  &:hover {
    background-color: rgba(178, 210, 53, 0.4);
  }
}

// @media only screen and (max-width: 1920px) {
//   .list-course-container {
//     max-width: 1500px;
//   }

//   .bg-laravel {
//     height: 258.84px;
//   }

//   .card {
//     border-radius: 15px;
//   }

//   .bg-html,
//   .bg-laravel,
//   .bg-php {
//     border-radius: 50px 50px 0px 0px;
//   }

//   .font-size-text {
//     display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     font-size: 20px;
//   }

//   .font-size-title {
//     font-family: "UTM BryantLG";
//     font-style: normal;
//     font-weight: 700;
//     font-size: 33px;
//     line-height: 37px;
//     color: #b2d235;
//   }
// }

// @media only screen and (min-width: 1441px) and (max-width: 1688px) {
//   .list-course-container {
//     max-width: 1290px;
//   }

//   .bg-laravel {
//     height: 220.13px;
//   }
// }

// @media only screen and (max-width: 1440px) {
//   .list-course-container {
//     max-width: 1282px;
//   }

//   .bg-laravel {
//     height: 218.64px;
//   }

//   .card {
//     border-radius: 15px;
//   }

//   .bg-html,
//   .bg-laravel,
//   .bg-php {
//     border-radius: 50px 50px 0px 0px;
//   }

//   .font-size-text {
//     display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     font-size: 18px;
//   }

//   .font-size-title {
//     font-family: "UTM BryantLG";
//     font-style: normal;
//     font-weight: 700;
//     font-size: 28px;
//     line-height: 37px;
//     color: #b2d235;
//   }
// }

// @media only screen and (min-width: 1200px) and (max-width: 1339px) {
//   .list-course-container {
//     max-width: 1109px;
//   }

//   .bg-laravel {
//     height: 186.75px;
//   }
// }

// @media only screen and (min-width: 1025px) and (max-width: 1199px) {
//   .list-course-container {
//     max-width: 924px;
//   }
//   .bg-laravel {
//     height: 152.64px;
//   }

//   .font-size-title {
//     font-size: 23px;
//   }
// }

// @media only screen and (max-width: 1024px) {
//   .list-course-container {
//     max-width: 946px;
//   }

//   .bg-laravel {
//     height: 159.28px;
//   }

//   .font-size-title {
//     font-size: 24px;
//   }
// }

// @media only screen and (min-width: 769px) and (max-width: 991px) {
//   .list-course-container {
//     max-width: 697px;
//   }
//   .bg-laravel {
//     height: 110.8px;
//   }

//   .font-size-title {
//     font-size: 16px;
//   }

//   .font-size-text {
//     font-size: 12px;
//   }
// }

// @media only screen and (max-width: 768px) {
//   .list-course-container {
//     max-width: 724px;
//   }

//   .bg-laravel {
//     height: 115.03px;
//   }

//   .font-size-title {
//     font-size: 16px;
//   }

//   .font-size-text {
//     font-size: 10px;
//   }
// }

// @media only screen and (max-width: 425px) {
//   .bg-laravel {
//     height: 217.36px;
//   }

//   .font-size-title {
//     font-size: 20px;
//   }

//   .font-size-text {
//     font-size: 10px;
//   }
// }
