.header {
  box-shadow: $box-shadow;
  background: white;
  height: 120px;
  width: 100%;
}

.menu {
  padding-top: 1%;
  max-width: 1440px;
}

.logo {
  width: 340.16px;
  height: 70px;
  margin-left: -9%;

  .logo-hp {
    width: 100%;
  }
}

.nav {
  margin-top: 1%;
  margin-right: -10%;

  .menu-nav {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    border-radius: 50px;
    color: black;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    height: 35px;
    text-align: center;

    &:hover {
      background: $color-light-green;
      border-radius: 17px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .active {
    background: $color-light-green;
    color: white;
  }
}

.menu-bar {
  cursor: pointer;
  font-size: 20px;
  display: none;
  transition: 2s linear;
}

.modal-content {
  background: none;
  border: none;
}

.modal-cursor {
  cursor: pointer;
}
