.des-lesson {
  .des-title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #505353;
  }

  .des-content {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -0.02em;
    color: #949292;
  }
}

.tag-lesson {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #505353;
}

.tag-link {
  margin-left: 10%;
}

.lesson-content {
  margin-top: 2%;
}

.font-course {
  font-size: 20px;
}

.btn-end {
  background: #b2d235;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  border-radius: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #ffffff;
  border: 0.3px solid #ffffff;
  padding: 10px 10px;
  margin-top: 5%;
  margin-bottom: 11%;
}

.program-lesson {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #505353;
}

.program-img {
  width: 50px;
  height: 50px;
}

.preview {
  width: 80px;
  color: white;
  background: #b2d235;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  border-radius: 22px;
  height: 35px;
}

.lesson-type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #bdb9b9;
}
