.reset-title {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.02em;
  color: #b2d235;
}

.reset-access {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #505353;
}

.reset-email {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #505353;
}

.reset-btn {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #b2d235;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  border-radius: 22px;
  padding: 5px;
}
