.content {
  width: 100%;
  margin-top: -86px;

  .content-list-course {
    display: flex;

    .card-list {
      margin-left: 49px;
      margin-right: 50px;
      border-radius: 15px;
    }

    .font-title {
      font-weight: $font-weight-title;
      font-size: $font-size-title;
      line-height: $line-height-title;
      color: $color-title-course-green;
    }

    .font-text {
      font-weight: bold;
      font-size: $font-size-text-course;
      line-height: $line-height-text-course;
      color: #505353;
    }
  }
}

.content-list-course {
  .card-img-dark-blue {
    background-color: #3f6185;
  }

  .card-img-red {
    background-color: red;

    .card-img-laravel {
      height: 188px;
    }
  }

  .card-img-light-blue {
    background-color: #556598;
  }

  .card-body {
    .btn-course {
      border-radius: 22px;
      color: white;
      background-color: $color-title-course-green;

      &:hover {
        background-color: rgba(178, 210, 53, 0.4);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    .content-list-course {
      .font-title {
        font-size: 16px;
      }
    }
  }

  .content-list-course {
    .card-img-red {
      .card-img-laravel {
        height: 132px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    .content-list-course {
      .card-list {
        margin-left: 33px;
        margin-right: 23px;
      }
      .font-title {
        font-size: 12px;
      }

      .font-text {
        font-size: 11px;
      }
    }
  }

  .content-list-course {
    .card-img-red {
      .card-img-laravel {
        height: 132px;
      }
    }

    .card-img-dark-blue {
      .card-img-html {
        height: 132px;
      }
    }

    .card-img-light-blue {
      .card-img-php {
        height: 132px;
      }
    }
  }
}

@media only screen and (max-width: 648px) {
  .content {
    .content-list-course {
      .card-list {
        margin-left: 33px;
        margin-right: 23px;
      }
      .font-title {
        font-size: 9px;
      }

      .font-text {
        font-size: 8px;
      }
    }
  }
}

@media only screen and (max-width: 564px) {
  .content {
    .content-list-course {
      display: block;

      .card-list {
        width: 342px;
        margin-left: 107px;
        margin-right: 23px;
        margin-bottom: 37px;
      }
      .font-title {
        font-size: 15px;
      }

      .font-text {
        font-size: 12px;
      }
    }
  }
}
