header {
  box-shadow: $box-shadow;
  background-color: #ffffff;

  a {
    img {
      width: 340.16px;
      height: 70px;
    }
  }

  #menu-bar {
    cursor: pointer;
    font-size: 25px;
  }
}

.menu {
  a {
    margin-left: 3px;
    border-radius: 17px;
    color: black;
    padding: 5px 15px;

    &:hover {
      color: white;
      background-color: $color-light-green;
    }
  }
}

@media (max-width: 1300px) {
  header {
    .header-items {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {
  header {
    .header-items {
      display: flex;
      flex-direction: row;
    }
    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: white;
      transition: 2s linear;
      padding-left: 40%;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      a {
        display: block;
        width: 100%;
        margin: 10px;
      }
    }

    .active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}
