.header {
  width: 100%;
  box-shadow: $box-shadow;

  .img-logo {
    margin-top: 36px;
    margin-left: 129px;
    margin-bottom: 44px;
  }

  .header-menu {
    margin-top: 3px;
    margin-left: 249px;
  }
}

.header-list {
  .header-list-item {
    margin-left: 20px;

    .link-item {
      color: $color;
      font-family: Open Sans;
      text-transform: uppercase;
      font-size: 20;
      line-height: 19px;
    }

    &:hover {
      background-color: $color-light-green;
      border-radius: 17px;
    }
  }
}

.header-list {
  .header-list-item:hover {
    .link-item {
      color: white;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    display: block;

    .img-logo {
      margin-left: 343px;
    }

    .header-menu {
      margin-bottom: 44px;
      margin-left: 192px;
    }

    .header-list {
      .header-list-item {
        margin-right: 43px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    display: block;

    .img-logo {
      margin-left: 202px;
    }

    .header-menu {
      margin-bottom: 44px;
      margin-left: 89px;
    }

    .header-list {
      .header-list-item {
        margin-right: 36px;
      }
    }
  }
}

@media only screen and (max-width: 648px) {
  .header {
    display: block;

    .img-logo {
      margin-left: 151px;
    }

    .header-menu {
      margin-bottom: 44px;
      margin-left: 49px;
    }

    .header-list {
      .header-list-item {
        margin-right: 23px;
      }
    }
  }
}

@media only screen and (max-width: 564px) {
  .header {
    .img-logo {
      margin-top: -65px;
    }

    .btn-style {
      margin-top: 60px;
      margin-left: 23px;
    }
  }
}
