.content-other-course {
  margin-top: 96px;

  .content-list-course {
    margin-top: 10%;
  }

  .other-course-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    color: #11114e;

    .course-underline {
      background-color: #b2d235;
      height: 5px;
      width: 43%;
    }
  }

  .other-course-end {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 49px;
    color: #90ab26;
    margin-top: 5%;
  }
}

.content-list-course {
  .card-list {
    .card-img-css {
      height: 182px;
    }

    .card-img-java {
      height: 190px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    .content-list-course {
      .card-img-ruby {
        height: 187px;
      }
      .font-ruby {
        font-size: 15px;
      }
    }
  }

  .content-other-course {
    .other-course-title {
      .course-underline {
        width: 56%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    .content-list-course {
      .card-img-ruby {
        height: 187px;
      }
      .font-ruby {
        font-size: 12px;
      }

      .font-text {
        font-size: 12px;
      }
    }
  }

  .content-other-course {
    .other-course-title {
      .course-underline {
        width: 75%;
      }
    }
  }
}

@media only screen and (max-width: 648px) {
  .content-other-course {
    .other-course-title {
      font-size: 59px;

      .course-underline {
        width: 63%;
      }
    }
  }

  .content {
    .content-list-course {
      .font-ruby {
        font-size: 9px;
      }
    }
  }
}
