@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:ital,wght@1,100;1,300&display=swap");
$font-weight-title: 700;
$font-size-title: 21px;
$line-height-title: 36.78px;
$color-title-course-green: #B2D235;
$font-size-text-course: 14px;
$line-height-text-course: 20px;
$color-text-course: #4fa0a0;
$color-light-green: #B2D235;
$box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
$background-color: rgb(0, 255, 0);
$background-image-white: white;
$background-image-silver: silver;
$color: black;
$color-title: #11114E;
