.whyhapolearn {
  margin-top: 18%;
  width: 100%;
  height: 760px;
  background: url("https://s3-alpha-sig.figma.com/img/c558/56f1/074a76c0613b7249fa2847b58b2160cd?Expires=1647820800&Signature=D4h8p4Fp1bXnsCEMB20API6aUomP8uE6v2u9xM-Sfj0tAH69oIBZES95JuT8u2y80aupUbcEcNokObgzQj~ifbT6Ny-TLlX0NfVnJ1BD8zVYW90w52fpwevvjMOcGiQNkw1yqtzoCxF6orfOWbm-W2MBEoaHTNQ0DhztfWjLN1HSebcQcKtWYuaulfYkuL2-BZZNyl5wNDqO~nuosdHsB3ILLOhCwDFy1CAPGgBYWWcBKwal7Aw8AN1v~6utg4gYqdv1gbcE2fIWG1pz~6OM4JaI8rX-oDqd7yVaBcWFfxq1rnwmFeqHp6ktl4rX0BCu4Uo5pi73TM0YZy-s8SamBQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}

.whyhapolearn-top-img {
  .img-mb {
    margin-top: -17%;
  }
}

.whyhapolearn-top-text {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 86px;
  text-align: center;
  margin-top: -21%;
  display: none;
}

.whyhapolearn-bottom {
  display: flex;

  .whyhapolearn-bottom-text {
    width: 63%;

    .whyhapolearn-bottom-text-list {
      color: white;
      margin-left: 20%;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
    }

    .font-hapolearn {
      font-style: normal;
      font-weight: 700;
      font-size: 70px;
      line-height: 86px;
    }
  }
}

.whyhapolearn-bottom-img {
  .img-mb-bot {
    width: 492px;
    height: 405px;
    margin-top: -34%;
  }
}

@media only screen and (max-width: 1024px) {
  .whyhapolearn-bottom {
    margin-top: 26%;

    .whyhapolearn-bottom-text {
      .font-hapolearn {
        display: none;
      }

      .whyhapolearn-bottom-text-list {
        font-size: 14px;
      }
    }
  }

  .whyhapolearn-top-text {
    display: block;
    font-size: 61px;
    margin-top: -26%;
    margin-left: 14%;
  }

  .whyhapolearn-top-img {
    .img-mb {
      margin-top: -25%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .whyhapolearn-bottom {
    margin-top: 26%;

    .whyhapolearn-bottom-text {
      .font-hapolearn {
        display: none;
      }

      .whyhapolearn-bottom-text-list {
        font-size: 11px;
      }
    }
  }

  .whyhapolearn-top-text {
    display: block;
    font-size: 49px;
    margin-top: -26%;
    margin-left: 23%;
  }

  .whyhapolearn-top-img {
    .img-mb {
      margin-top: -33%;
    }
  }

  .whyhapolearn-bottom-img {
    .img-mb-bot {
      width: 327px;
      height: 315px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .whyhapolearn-top-img {
    .img-mb {
      margin-top: -29%;
      width: 272px;
    }
  }

  .whyhapolearn-bottom-img {
    .img-mb-bot {
      width: 231px;
      height: 223px;
    }
  }
}

@media only screen and (max-width: 564px) {
  .whyhapolearn-bottom {
    display: block;

    .whyhapolearn-bottom-text {
      width: 100%;

      .whyhapolearn-bottom-text-list {
        font-size: 17px;
        margin-left: 8%;
      }
    }
  }

  .whyhapolearn-bottom-img {
    .img-mb-bot {
      width: 407px;
      height: 277px;
      margin-top: -9%;
      margin-left: 10%;
    }
  }
}
